# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Maven
target/

# Gradle
.gradle/
build/

# Java Web Applications
*.war

# Miscellaneous
*.jar
*.ear
*.db
*.class
*.DS_Store
/.metadata/
